@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Heebo", sans-serif;
  font-size: 62.5%;
}

/*light mode*/
:root {
  --main-bg-color: #faf9f6;
  --main-primary-text-color: #333333;
  --button-bg-color: #2196f3;
  --button-text-color: #ffffff;
  --button-hover-color: #1976d2;
  --light-gray: #ccc;
  --vermilion: #ff3333;
  --medium-green: #4caf50;
  --dark-green: #388e3c;
}
