/* *,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */

/*light mode*/
:root {
  --main-bg-color: #faf9f6;
  --main-primary-text-color: #333333;
  --button-bg-color: #2196f3;
  --button-text-color: #ffffff;
  --button-hover-color: #1976d2;
  --light-gray: #ccc;
  --vermilion: #ff3333;
  --medium-green: #4caf50;
  --dark-green: #388e3c;
}

body {
  margin: 0;
  padding: 0;
}
