*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
ol,
li,
input,
button {
  font-family: "Heebo", sans-serif;
}

/*light mode*/
:root {
  --main-bg-color: #faf9f6;
  --main-primary-text-color: #333333;
  --button-bg-color: #2196f3;
  --button-text-color: #ffffff;
  --button-hover-color: #1976d2;
  --light-gray: #ccc;
  --vermilion: #ff3333;
  --medium-green: #4caf50;
  --dark-green: #388e3c;
}

body {
  margin: 0;
  padding: 0;
}
