.about-section {
    display: flex;
    justify-content: space-between;
    min-height: 50vh;
    margin-left: 10%;
    margin-right: 10%;
    padding: 30px 0;
}

.text-content {
    flex: 1;
    margin-right: 50px;
}

.text-content p {
    width: 80%;
}

.about-section img {
    max-width: 80%;
    height: auto;
}

.read-more {
    text-decoration: underline;
    color: var(--button-bg-color);
}

.read-more:hover {
    color: var(--button-hover-color);
    transition: ease-in-out 0.3s;
}

@media (max-width: 1800px) {
    .about-section {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 30px;
    }

    .text-content {
        margin-right: 0;
        text-align: center;
        margin-bottom: 20px;
    }

    .text-content p {
        width: 100%;
    }

    img {
        max-width: 100%;
        height: auto;
    }
}