#appdetails-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 100px;
    background-color:#E0E0E0;
    padding: 20px 30px;
}

#appdetails-content-container {

}

#appdetails-text-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    max-width: 500px;
}

#appdetails-title{

}
#appdetails-download-button{
    width: 100%;
}

#appdetails-image-wrapper{
    max-width: 600px;
    max-height: 700px;
    
}

#appdetails-image{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

#appdetails-description{
    width: 100%;
    background-color: #FAF9F6;
    height: 300px;
}
@media (max-width: 910px) {
    #appdetails-container{
        gap: 20px;
    }
}
@media (max-width: 860px) {
    #appdetails-container{
        flex-direction: column;
        align-items: center;
    }
    #appdetails-title{
        margin: 0;
    }
}