#appstore-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.search-container {
  position: relative;
  display: inline-block;
}

#search {
  padding-right: 30px;
}

.search-button {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
}

.featured-apps-card {
  height: 450px;
  width: 300px;
  box-shadow: 0px 0px 10px -4px #333333;
  margin: 0 40px 0 40px;
}

.featured-apps-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.appstore-titles {
  margin: 15px 0 15px 0;
}

#featured-apps-container {
  display: flex;
  flex-direction: row;
  margin: 15px 0 15px 0;
}

.browse-apps-card {
  height: 130px;
  width: 130px;
  box-shadow: 0px 0px 10px -4px #333333;
  margin: 0 30px 0 30px;
  transition: transform .1s;
}

.browse-apps-card:hover {
  transform: scale(1.1);

}

.browse-apps-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#browse-apps-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px 0 15px 0;
  width: 100%;
}