.cart-content {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  flex-flow: column wrap;
  min-height: 800px;
  gap: 10px;
}
.product-name p:last-child {
  display: none;
}
.cart-content h3 {
  text-align: center;
  font-size: 20px;
}
.cart-content h2 {
  font-size: 30px;
  text-align: center;
  margin-bottom: 40px;
}
.cart-content > button {
  max-width: 400px;
  font-size: x-large;
  align-self: center;
}

/* Cart context */
.cart-context {
  width: 700px;
  display: flex;
  justify-content: space-around;
  height: 80px;
  border-bottom: 1px solid;
  margin-left: 30px;
  gap: 5px;
}

/* Cart products */
.remove-button > p {
  align-self: center;
  cursor: pointer;
  color: #2196f3;
  font-size: large;
}

.cart-products {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  padding-bottom: 30px;
  margin-right: 10px;
}

/*quantity content */
.quantity-content button {
  width: 30px;
  font-size: larger;
}
.quantity-content {
  flex: 0 1 10%;
  max-width: 100px;
  max-height: 20px;
  align-self: center;
}
/* cart items */
.cart-items {
  width: 700px;
  height: 50px;
  display: flex;
  border-bottom: 1px solid;
  margin: 0 auto;
  justify-content: space-between;
  word-spacing: 50px;
  flex-grow: 1;
}
/* remove arrow from inputs of type number: 
 https://stackoverflow.com/questions/13107118/how-to-remove-the-arrows-from-inputtype-number-in-opera  
 */
.cart-items input[type="number"]::-webkit-outer-spin-button,
.cart-items input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  text-decoration: none;
}
.cart-items input[type=number] {
  -moz-appearance: textfield;
}
.cart-items input {
  max-width: 30px;
  height: 32px;
  text-align: center;
}
.cart-items > p {
  flex: 0 1 10%;
}
.cart-items > div {
  flex: 0 1 30%;
  display: flex;
  flex-flow: wrap;
  gap: 5px;
}
.cart-items img {
  max-width: 63px;
  max-height: 50px;
}

.cart-items p {
  text-align: justify;
  word-spacing: 2px;
}

@media (max-width: 800px) {
  .cart-context {
    width: 350px;
  }
  /*This hides the price element that is outside the class product-name */
  .cart-items > p:nth-child(2) {
    display: none;
  }
  .cart-products {
    width: 350px;
    max-height: 200px;
    align-self: center;
    display: flex;
    justify-self: center;
    justify-content: space-around;
    flex: 1 1 auto;
    /* overflow-y: auto; */
  }
  /*first div product name and image*/
  .product-name {
    min-width: 160px;
    max-height: 100px;
  }
  .product-name p:last-child {
    display: unset;
  }
  .cart-items p {
    max-height: 20px;
    min-width: 50px;
  }
  .cart-items {
    justify-content: space-evenly;
    align-self: center;
    width: 350px;
    max-height: 140px;
    margin-left: 30px;
    flex-flow: row wrap;
    flex: 1 1 auto;
    align-items: flex-start;
  }

  .quantity-content {
    align-self: auto;
    min-width: 100px;
    max-height: 50px;
  }

  .remove-button {
    margin-left: 40px;
  }
  .cart-context > p:nth-child(2) {
    display: none;
  }
}
