.cart-content {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100%;
    flex-flow: column wrap;
    height: 800px
}


.cart-context {
    width: 1000px;
    display: flex;
    justify-content: space-around;
    height: 80px;
    border-bottom: 1px solid;
}
.remove-button  > p{
    align-self: center;
    cursor: pointer;
    color: #2196F3 ;
    font-size: large;
}    
.cart-items { 
    width: 1000px;
    height: 50px;
    display: flex;
    border-bottom: 1px solid;
    margin: 0 auto;
    justify-content: space-between;
    word-spacing: 50px;
    flex-grow: 1;
}
.cart-products {
    display: flex;
    flex-flow:column wrap;
    align-items: flex-start;
    padding-bottom: 30px;
}
.cart-items > div {
    flex: 0 1 30%;
    display: flex;
    flex-flow: wrap;
    gap: 5px;
}
.cart-items img {
    max-width: 63px;
    max-height: 50px
}
.cart-content h3 {
    text-align: center;
}
.cart-content button {
    width: 200px;
    font-size: x-large;
    align-self: center;
    border-radius: 0.5em;
}
.cart-items > p {
    flex: 0 1 10%;
}