.docsOverview {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  padding: 20px;
  background-color: #E0E0E0;
}

.header-content {
  text-align: left;
}

.docs-title {
  font-size: 50px;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 16px;
}

.docs-logo {
  height: 200px;
}

.docs-search-container {
  position: relative;
  display: inline-block;
  margin-top: 20px;
}

#docs-search {
  padding: 10px;
  width: 500px;
  height: 55px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px -4px #333333;
  font-size: 16px;
}

.docs-search-button {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.docs-search-button:hover {
  background-color: #128409;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  margin: 60px 20px 60px 20px;
}

.card {
  height: 175px;
  max-width: 350px;
  background-color: #E0E0E0;
  border: 1px solid #dddddd;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card:hover {
  transform: translateY(-5px);
}

.card-content {
  padding: 0 20px 0 20px;
}

.card-title {
  text-align: center;
}

@media (max-width: 768px) {
  #docs-search {
    width: 100%;
  }

  .docs-search-container {
    width: 90%;
  }

  @media (max-width: 630px) {
    .header {
      flex-direction: column-reverse;
    }

    .header-content {
      text-align: center;
    }

    .docs-logo {
      margin-top: 20px;
    }
  }
}