h1 {
    text-align: center;
}

.search-bar {
    width: 80%;
    padding: 10px;
    box-sizing: border-box;
    margin: 40px auto 100px auto; /* Centrerad med auto-marginaler */
    display: block;
    background-color: #FAF9F6;
  }

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px; 
    margin-left: 5vw; 
    margin-right: 5vw;
  }
  
  .card {
    height: 18vh;
    width: 18vw; 
    background-color: #E0E0E0;
    border: 1px solid #dddddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); 
    margin-bottom: 20px; 
  }
  .card:nth-child(-n+4) {
    margin-bottom: 100px; /* Större mellanrum för de fyra första korten */
  }
  
  .card:hover {
    transform: translateY(-5px); 
  }
  