@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.hero-title {
    text-align: center;
    padding-top: 5vw;
    font-size: 46px;
    color: rgb(231, 231, 231);
}


.hero-description p{
    width: 100%;
    max-width: 60%;

    color: rgb(241, 241, 241);
   font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
    padding-top: 4vw;
    margin: 0 auto;
    font-size: 28px;

}


.hero-description span{
    font-weight: 700;
    font-size: 42px;
    padding: 0;
    margin: 0;

}






.hero-image {
    background-image: url(../images/hero-stock-placeholder.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
    width: 100%;

}

.hero-image::before {
    content: "";
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}



.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.5;

}

.hero-image h1 {
    color: white;
    font-size: 60px;
    padding-top: 5vw;
    opacity: 0.9;
}


.hero-image .hero-buy {
width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    /* margin: 0 20px; */
    opacity: 0.9;
}

.hero-buy button {
    padding: 12px 40px;
    font-size: 16px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    @media screen and (max-width: 1200px) {
    .hero-title {
        /* padding-top: 14vh; */
        /* padding: 22px; */
        font-size: 28px;
    }

    .hero-description p {
       font-size: 18px;
    }
    }

        @media screen and (max-width: 600px) {
    .hero-title {
        padding: 14% 0 0 0;
        font-size: 22px;
    }

    .hero-description p {
       font-size: 14px;
    }

    /* .hero-buy button {
        padding: 12px 40px;
        font-size: 16px;
    } */
}






/* between 400px and 300px */

@media screen and (max-width: 400px) {
    .hero-title {
        padding-top: 14vh;
        font-size: 22px;
        text-wrap: wrap;
    }
    
    .hero-description {
        width: 90%;
        /* padding-top: 22vh; */
    }
    
    .hero-buy button {
        /* padding: 52px 40px; */
        font-size: 16px;
    }
}