.hero-title {
    text-align: center;
    margin-top: 0;
    padding-top: 5vw;
    font-size: 60px;
}

.hero-description {
    width: 80%;
    max-width: 600px;
    text-align: center;
    margin: 0 auto;
    padding-top: 55vh;
}

.hero-buy {
    display: flex;
    justify-content: center;
    padding: 10px 20px;
}

.hero-buy button {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    padding: 12px 40px;
    border: 0;
    font-size: 16px;
}

.hero-image {
    height: 100vh;
    background-image: url(../images/hero-stock-placeholder.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (max-width: 1200px) {
    .hero-title {
        padding-top: 14vh;
        font-size: 60px;
    }

    .hero-description {
        width: 90%;
        padding-top: 50vh;
    }

    .hero-buy button {
        padding: 12px 40px;
        font-size: 16px;
    }
}

@media (max-width: 800px) {
    .hero-title {
        padding-top: 14vh;
        font-size: 60px;
    }

    .hero-description {
        width: 90%;
        padding-top: 50vh;
    }

    .hero-buy button {
        padding: 12px 40px;
        font-size: 16px;
    }
}

@media (max-width: 600px) {
    .hero-title {
        padding-top: 14vh;
        font-size: 60px;
    }

    .hero-description {
        width: 90%;
        padding-top: 45vh;
    }

    .hero-buy button {
        padding: 12px 40px;
        font-size: 16px;
    }
}