@import "../index.css";

body {
  background-color: var(--main-bg-color);
  color: var(--main-primary-text-color);
}

main {
min-height: calc(100vh - 100px - 60px);
overflow: auto;
padding-top: 60px;
}

a {
  text-decoration: none;
  color: #333333;
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
  border-radius: 2px;
  text-align: center;
  padding: 5px;
  border: 0;
}

button:hover {
  cursor: pointer;
  background-color: var(--button-hover-color);
}
