@import "../index.css";

nav > .navbar-top {
  height: 5em;
  padding: 0 2em;
  font-size: 1.4em;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: 1;
  transition: transform 0.2s ease;

}

.logo{
  position: relative;
  width: 100px;
  height: 100px;

}

.logo img {
  position: absolute;
  top: 10px;
  width: 120%;
  height: 100%;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  overflow: hidden;
}

.show {
  transform: translateY(0);
}

.hide {
  transform: translateY(-100%);
}
.navbar-icon {
  font-size: 1.5em;
}

.mobile-nav-right {
  display: none;
}

.nav-right a {
  padding: 8px 2px;
  margin: 0 20px;
  display: inline-block;
  transition: background-color 0.3s;
}

.nav-right > a:hover {
  transform: scale(1.05);
}


nav .nav-login-btn {
  padding: 8px 20px;
  margin: 0 20px;
  display: inline-block;
  outline: none;
  border: 1px solid var(--button-bg-color);
  border-radius: 4px;
  color: var(--button-bg-color);
}


.dropdown-menu {
  display: none;
}
.navbar-top a.active { 
  border-bottom: 1px solid black;
}

@media (max-width: 700px) {
  .dropdown-menu {
    top: 60px;
    display: flex;
    width: 100%;
    position: fixed;
    flex-flow: column wrap;
    background-color: var(--main-bg-color);
    align-self: center;
    height: 100vh;
    z-index: 1;
  }
  .dropdown-menu > a {
    border-top: 1px solid;
    height: 150px;
    width: 100%;
    justify-content: center;
    text-align: center;
    padding: 40px;
  }
  .dropdown-menu > a:last-child {
    border-bottom: 1px solid;
  }
  .navbar-top {
    display: flex;
  }
  /* button for dropdown menu */
  .mobile-nav-right > button {
    display: unset;
    width: 60px;
    height: 40px;
    align-items: center;
    display: flex;
    background-color: unset;
    color: var(--button-bg-color);
  }
  /* Removes hover effect on button of dropdown menu */
  .mobile-nav-right > button:hover {
    background-color: unset;
  }
  .mobile-nav-right > button > svg {
    width: 100px;
    font-size: 30px;
    align-self: center;
  }
  .mobile-nav-right > a > svg {
    margin-top: 8px;
    margin-right: 8px;
  }
  .nav-right {
    display: none;
    color: red;
  }
  .mobile-nav-right {
    display: flex;
    width: 150px;
    justify-content: flex-end;
    height: 40px;
  }
    
}
