@import "../index.css";

nav > .navbar-top {
  height: 5em;
  padding: 0 2em;
  font-size: 1.4em;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: var(--main-bg-color);
  z-index: 1;
  transition: transform 0.2s ease;

}

.logo{
  width: 100px;
  height: 100px;

}

.logo img {
  width: 120%;
  height: 110%;
  overflow: hidden;
}

.show {
  transform: translateY(0);
}

.hide {
  transform: translateY(-100%);
}
.navbar-icon {
  font-size: 1.5em;
}

.mobile-nav-right {
  display: none;
}

.nav-right a {
  padding: 8px 2px;
  margin: 0 20px;
  display: inline-block;
  transition: background-color 0.3s;
}

.nav-right > a:hover {
  transform: scale(1.05);
}


nav .nav-login-btn {
  padding: 8px 20px;
  margin: 0 20px;
  display: inline-block;
  outline: none;
  border: 1px solid var(--button-bg-color);
  border-radius: 4px;
  color: var(--button-bg-color);
}




.dropdown-menu {
  display: none;
  
}
/* overlay */
.overlay {
  position: fixed; /* Use fixed position to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 10; 
   display: none;  
}

@media (max-width: 800px) {

 .logo img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.dropdown-menu{
  display: flex;
  position: fixed;
  top: 0em;
  right: 5em;
  width: 250px;
  height: 100%;
  background-color: var(--main-bg-color);
  flex-flow: column wrap;
  z-index: 1;

  }
  .dropdown-menu .logo {
margin-left: 70px;
margin-bottom: 62px;
margin-top: 20px;

  }

  /*  */
  .dropdown-menu > a {
    padding: 20px 0;
    border-bottom: 1px solid;
    font-size: 1.5em;
    font-weight: 500;
    padding: 20px 20px;
    color: var(--button-bg-color);
  }
  .dropdown-menu > a:last-child {
    border-bottom: 1px solid;
  }

  .navbar-top {
    display: flex;
  }
  /* button for dropdown menu */
  .mobile-nav-right > button {
    display: unset;
    width: 60px;
    height: 40px;
    align-items: center;
    display: flex;
    background-color: unset;
    color: var(--button-bg-color);
  }
  /* Removes hover effect on button of dropdown menu */
  .mobile-nav-right > button:hover {
    background-color: unset;
  }
  .mobile-nav-right > button > svg {
    width: 100px;
    font-size: 30px;
    align-self: center;
  }
  .mobile-nav-right > a > svg {
    margin-top: 8px;
    margin-right: 8px;
  }
  .nav-right {
    display: none;
    color: red;
  }
  .mobile-nav-right {
    display: flex;
    width: 150px;
    justify-content: flex-end;
    height: 40px;
  }
    
}
