.tech-section {
    margin: 20px 5%;
    padding: 20px 0;
    border-top: 1px solid #E0E0E0;
}

.tech-section h2 {
    text-align: center;
    padding-top: 10px;
}

.tech-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 40px 0;
}

.text-left,
.text-right {
    flex: 0 0 70%;
    text-align: center;
    order: 1;
    margin-left: auto;
    margin-right: auto;
}

.img-left,
.img-right {
    flex: 0 0 100%;
    width: 100%;
    order: 2;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 1600px) {
    .text-left,
    .text-right,
    .img-left,
    .img-right {
        flex: 0 0 40%; 
    }

    .img-left {
        order: -1;
    }

    .img-right {
        order: 1;
    }

    .text-left,
    .text-right h3, p {
        text-align: left;
    }
}