@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Roboto:wght@400&display=swap');





.container-dashboard{
font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100vh;
  background-color: hsl(0, 0%, 100%);
}

.dashboard-content {
    width: 100%;
  padding: 0 20px;
  margin-top: 26px;


}

.dashboard {
  width: 100%;
  /* max-width: 1200px; */
  /* padding: 0 20px; */
  margin-top: 26px;;
}

.dashboard-ul {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0;
  margin-top: 20px;
  gap: 36px;
}



.dashboard ul li {
  max-width: 400px;
  padding: 12px 0;
  cursor: pointer;
}


.dashboard-item:hover {
border-bottom: 1px solid  #706f6f;;
}

.dashboard-item .active {
   border-bottom: 2px solid #000;
   padding: 12px 0;
    color: #000;

}





.dashboard ul li a {
  text-decoration: none;
  padding: '10px 0';
  color: #706f6f;

}


