.user-details {
  margin: 16px;
  padding: 16px;
  box-shadow: 2px 1px 21px -9px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.user-details h2 {
  margin: 0 0 16px 0;
}

.user-details .form-group {
  margin-bottom: 24px;
}

.user-details .form-group label {
  display: block;
  width: 100%;
  font-size: 16px;
  margin-bottom: 4px;
}

.user-details .form-group input,
.user-details .form-group select {
  width: 100%;
  height: 48px;
  border: 1px solid var(--light-gray);
  border-radius: 4px;
  background: none;
  padding: 4px 16px;
}

.user-details .form-group input:hover,
.user-details .form-group input:focus {
  border-color: var(--button-bg-color);
}

.user-details .form-group input:focus {
  box-shadow: 0px 10px 20px -13px rgba(32, 56, 117, 0.35);
}

@media screen and (min-width: 530px) {
  .user-details .form-row {
    display: flex;
    gap: 12px;
  }

  .user-details .form-group {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .user-details {
    padding: 32px;
  }

  .user-details h2 {
    margin: 0 0 32px;
  }
}
